doctype html
html
    head
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css")
        title Crm
    body
        nav.navbar.navbar-expand.navbar-dark.bg-dark
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarTogglerDemo01' aria-controls='navbarTogglerDemo01' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarTogglerDemo01.collapse.navbar-collapse
                a.ml-1.navbar-brand(href='/welcome') CRM
                ul.navbar-nav.mr-auto.mt-2.mt-lg-0
                    li.nav-item.active
                        a.nav-link(href='/getClients') Data
                    li.nav-item
                        a.nav-link(href='/add') Add Client

                a.text-warning(href='/profile') #{email}
        .position-relative.overflow-hidden.p-3.p-md-1.m-md-3.text-center.bg-white
        main.flex-shrink-0(role='main')
            .container.mt-2.mb-2
                if data === undefined || data.length ===0
                    p You have no records :(
                else
                    ul.list-group
                        - var itemName = "Name: ";
                        - var itemId;
                        - var itemComment ="Comment: ";
                        - var phone = "Phone: ";
                        each val in data
                            - itemName = "Name: ";
                            - itemComment = "Comment: ";
                            - phone ="Phone: ";
                            each data, index in val 
                               if index === "id"
                                    - itemId = data;
                               if index === "clientname"
                                    - itemName += data;
                               if index === "comments"
                                    - itemComment += data;
                               if index === "clientphone"
                                    - phone += data ;
                            li.list-group-item.border-0
                                button.btn.btn-light.w-100.text-left.border.d-inline-block.pt-3(id=''+itemId type='button' data-toggle='modal' data-target='#modalItem' onclick='modalData(this)')
                                    p#Name #{itemName} 
                                    span#itemComment.d-none #{itemComment}
                                    p#Phone #{phone}
        #modalItem.modal.fade(tabindex='-1' role='dialog' aria-labelledby='modalItem' aria-hidden='true')
            .modal-dialog.modal-dialog-centered(role='document')
                 .modal-content
                     .modal-header
                         h5#exampleModalLongTitle.modal-title Info 
                            span#id.d-none 
                         button.close(type='button' data-dismiss='modal' aria-label='Close')
                             span(aria-hidden='true') &times;
                     .modal-body
                         form.form-signin
                         p#clientName 
                         p#clientPhone 
                         p#clientComment 
                         button.btn.btn-lg.btn-danger.btn-block(type='submit' onclick='deleteItem()').mt-2 Delete
                         p.mt-3.mb-3.text-muted &copy; Viacheslav Verchonov 2019
        footer.footer.mt-5.py-3.bg-light
            .container
             span.text-muted CRM | Viacheslav Verchonov
        script(src='bower_components/jquery/dist/jquery.min.js')
        script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
        script(src='js/help.js')
        script(src='js/modal.js')

