doctype html
html
    head
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css")
        title Crm
    body
        nav.navbar.navbar-expand.navbar-dark.bg-dark
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarTogglerDemo01' aria-controls='navbarTogglerDemo01' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarTogglerDemo01.collapse.navbar-collapse
                a.ml-1.navbar-brand(href='/welcome') CRM
                ul.navbar-nav.mr-auto.mt-2.mt-lg-0
                    li.nav-item
                        a.nav-link(href='/getClients') Data
                    li.nav-item
                        a.nav-link(href='/add') Add Client

                a#userEmail.text-warning(href='/profile') #{email}
        .position-relative.overflow-hidden.p-3.p-md-5.m-md-3.text-center.bg-white
            .col-md-5.p-lg-5.mx-auto.my-5
                h1.display-4.font-weight-normal Welcome!
                    p.lead.font-weight-normal.mt-3
                        br
                        | - check your data in Data page
                        br
                        br
                        | - press on your email to manage account
                        br
                        br
                        | - user Add Client page to keep your data updated
            .product-device.shadow-sm.d-none.d-md-block
            .product-device.product-device-2.shadow-sm.d-none.d-md-block
        footer.footer.mt-5.py-3.bg-light
            .container
             span.text-muted CRM | Viacheslav Verchonov

